code/cache/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

.env
ArcGISAnalysis/
code/src/geo_tools.py
code/5_app.py

code/5_app.py

input/*

output/*
!output/osm_places_v2.geojson
!output/rtc_data.geojson 